/* @override http://localhost:4000/css/styles.css */

/*

Design notes and specs
======================

Font families
-------------

*Serif*  
Calluna, Cambria, Georgia, "Times New Roman", serif

*Sans Serif*  
Museo Sans, Candara, "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif

*Slab*  
"Museo Slab", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif

*Monospace*  
Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New

Colors
------


*/

/* @group Fonts */

@font-face {
	font-family: 'Calluna';
	src: url('/css/fonts/Calluna-Regular.eot');
	src: local('Calluna Regular'), local('Calluna-Regular'), url('/css/fonts/Calluna-Regular.otf') format('opentype');
}
/* A font by Jos Buivenga (exljbris) -> http://www.exljbris.nl */

@font-face {
	font-family: 'Museo Sans';
	src: local('Museo Sans 500'), url('/css/fonts/MuseoSans_500.otf') format('opentype');
}

@font-face {
	font-family: 'Museo Slab';
	src: local('Museo Slab 500'), url('/css/fonts/Museo_Slab_500.otf') format('opentype');
}

@font-face {
	font-family: 'QuicksandBook';
	src: url('Quicksand_Book.eot');
	src: local('Quicksand Book'), local('QuicksandBook-Regular'), url('Quicksand_Book.woff') format('woff'), url('Quicksand_Book.otf') format('opentype'), url('Quicksand_Book.svg#QuicksandBook-Regular') format('svg');
}

/* @end */

/* @group Resets */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}caption,th {text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym {border:0;}

/* @end */

/* @group 1kb Grid */

/* ================ */
/* = The 1Kb Grid = */     /* 9 columns, 60 pixels each, with 20 pixel gutter */
/* ================ */

.grid_1 { width:60px; }
.grid_2 { width:140px; }
.grid_3 { width:220px; }
.grid_4 { width:300px; }
.grid_5 { width:380px; }
.grid_6 { width:460px; }
.grid_7 { width:540px; }
.grid_8 { width:620px; }
.grid_9 { width:700px; }

.column {
	margin: 0 10px;
	overflow: hidden;
	float: left;
	display: inline;
}
.row {
	width: 720px;
	margin: 0 auto;
	overflow: hidden;
}
.row .row {
	margin: 0 -10px;
	width: auto;
	display: inline-block;
}

/* @end */

/* @group Globals */

body {
	background: #ffffff none;
	text-align: center;
	font: normal 100%/1.4em Calluna, Cambria, Georgia, "Times New Roman", serif;
	color: #444;
}

a {
	color: #a00000;
	text-decoration: none;
}

a:hover, a:active {
	color: #495cd6;
}

h1, h2, h3, h4, h5, h6 {
	font: bold 100%/1.5em "Museo Slab", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}

h1 {
	font-size: 2.4em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.4em;
}

h4 {
	font-size: 1.2em;
}

h5 {
	font-size: 1em;
}

h6 {
	font-size: .9em;
}

p, ol, ul, dl {
	font-size: 1.2em;
	line-height: 1.5em;
	padding-bottom: .8em;
}

table {
	font-size: 1.2em;
	line-height: 1.5em;
	width: 100%;
	margin-bottom: .8em;
}

tr {
	border: 1px solid #999999;
}

th {
	font-weight: bold;
	font-family: "Museo Sans", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	padding: .2em;
	border-bottom: 2px solid #999999;
}

td {
	padding: .2em; /* Same as `th` */
}

ul, ol {
	padding-left: 1em;
}

dt {
	font-weight: bold;
	font-family: "Museo Sans", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

sup, sub {
	font-size: .7em;
	line-height: 1em;
}

small {
	font-size: .7em;
}

abbr, acronym {
	line-height: 1em;
	border-bottom: 1px dotted #999999;
}

cite {
	font-style: italic;
}

blockquote {
	margin: 0 3em;
	padding: .8em .8em 0; /* Make the same as the padding under the universal `p` to compensate for the space after the paragraph */
	background-color: #f8f8f8;
	font-family: "Museo Slab", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: .9em;
	border: 1px solid silver;
}

code {
	font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New;
	font-size: .8em;
	background-color: #f8f8f8;
	padding: .3em;
}

pre {
	font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New;
	margin-bottom: .8em; /* The same as `p` */
	line-height: 1.4em;
	font-size: .9em;
	overflow-x: auto; /* Use horizontal scroller if needed; for Firefox 2, not needed in Firefox 3 */
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
 /* width: 99%; */
	word-wrap: break-word;
	padding: .8em .8em 0;
}

.highlight { 
	background-color: #f8f8f8; 
	border: 1px solid silver; 
	padding-left: 5px; 
	margin-bottom: 1.2em; 
	overflow-x:auto; 
}

/* @group Forms */

fieldset {
	border: 1px solid #999999;
	padding: 1em 1em 0;
}

legend {
	font: 1.2em/1.4em "Museo Sans", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	color: #999999;
}

.input, .password, textarea, select {
	font: .9em/1.4em "Museo Sans", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	color: #666666;
}

textarea {
	padding: .2em;
}

/* @end */

/* @end */

#wrapper {
	width: 720px;
	margin: 50px auto;
	text-align: left;
}

h1.title {
	text-align: right;
}

#navbar {
	list-style: none;
	text-align: right;
	font-family: Museo Sans, Candara, "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 1.2em;
}

#navbar li {
	display: inline;
	margin-left: .7em;
	color: #999999;
}

.post-meta {
	padding-top: .5em;
	text-align: right;
}

.post-meta p {
	font: normal .9em/1.4em Museo Sans, Candara, "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	color: #999999;
	padding-bottom: 1em;
}

.footnotes {
	font-size: .7em;
	color: #999999;
}

.footnotes p {
	padding-bottom: 0;
}

.footnotes li {
	padding-top: 1.2em;
}

.footnotes ol {
	padding-left: 1em;
}

#footer {
	font: normal .7em/1.4em Museo Slab, Candara, "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	text-align: right;
	font-size: .8em;
	color: #999999;
}