---
layout: archive
title: Tags
---

<ul id="tag-list">	
{% for tag in @site.tags|keys|sort %}
	<li><a href="#{{tag | downcase | fix_spaces }}" class="tag">{{tag | downcase}}</a></li>
{% endfor %}	
</ul>	

{% assign first = true %}	
{% for tag in @site.tags|keys|sort %}
	{% unless first == true %}
	</ul>
	{% endunless %}
	<h3 id="{{ tag | downcase | fix_spaces }}">{{ tag }} <a href="#" class="top">&#8617;</a></h3>
	<ul>
	{% for post in @site.posts|tagged:tag|sort %}
		<li>
			<span class="faux grid_2">{{ post.date | date: '%b %e, %Y' }}</span> 
			<span class="faux grid_7">
				<a href="{{ post.url }}">{{ post.title }}</a>
			</span>
		</li>
	{% endfor %}
	{% assign first = false %}
{% endfor %}
	</ul>