<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="{{ page.excerpt|descriptionify }}" />
		<meta name="author" content="Andrew Heiss" />
		<title>{{ page.title }} | Andrew Heiss.com</title>
		<link rel="stylesheet" href="/css/styles.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="/css/syntax.css" type="text/css" />
		<!--[if lte IE 6]>
		<link href="/css/ie6fix.css" rel="stylesheet" type="text/css" />
		<![endif]-->
		<link href="/favicon.ico" rel="icon" type="image/x-icon" />
		<script type="text/javascript" charset="utf-8">
			var disqus_developer = 1; 
		</script>
	</head>
	<body>
		<div id="header">
			{% include header.html %}
			<div id="navbar-wrapper">
				{% include nav.html %}
			</div>
		</div>
		<div id="wrapper">
			{{ content }}
		</div>
		{% include footer.html %}
		{% include disqus.html %}
	</body>
</html>