---
layout: base
---

<div id="portfolio-entry">
	<h2>{{ page.title }}</h2>
	<div class="row">
		<div class="column grid_6">
			<img src="/images/460x300.png" alt="460x300" />
		</div>
		<div class="column grid_3">
			<p>{{ page.date | date: '%B %Y' }}</p>
		
			{% if page.link %}
			<p><a href="{{ page.link }}">View live</a></p>
			{% endif %}
		
			{% if page.details %}
			<ul>
				{% for d in page.details %}
				<li>{{d}}</li>
				{% endfor %}
			</li>
			{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="column grid_9">
			<div class="entry content">
				{{ content }}
			</div>
		</div>
	</div>
</div>