---
layout: base
---
<div class="row">
	<div class="post-meta column grid_2">
		{% include meta.html %}
	</div>
	<div class="column grid_7">
		<div class="entry content">
			<h2>{{ page.title }}</h2>
			<div id="page-content">
			{{ content }}
			</div>
			<!-- <div id="comments"><div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/andrewheisscom/embed.js"></script><noscript><a href="http://disqus.com/forums/andrewheisscom/?url=ref">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a></div> -->
		</div>
	</div>
</div>