---
layout: base
---
<div class="row">
	<div class="post-meta column grid_2">
		<p>
			<span class="date" title="{{ page.date | date_to_xmlschema }}">
				<span class="day">{{ page.date | date: '%A' }}, </span>
				<span class="month">{{ page.date | date: '%B' }}</span>
				<span class="date">{{ page.date | date: '%e' }}, </span>
				<span class="year">{{ page.date | date: '%Y' }}</span>
			</span>
		</p>
		<p><a href="{{ post.url }}#disqus_thread">Comments</a></p>

		{% comment %} TODO: This isn't working--hide "Tagged as:" on posts without tags {% endcomment %}
		{% if page.tags %}
			<p>Tagged as:
				{% for tag in page.tags|sort %}
				<a href="/tag#{{tag | downcase}}" class="tag">{{tag | downcase}}</a>
				{% endfor %}
			</p>
		{% else %}
			<p>No tags here.</p>
		{% endif %}

	</div>
	<div class="column grid_7">
		<div class="entry content">
			<h2>{{ page.title }}</h2>
			{{ content }}
			<!-- <div id="comments"><div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/andrewheisscom/embed.js"></script><noscript><a href="http://disqus.com/forums/andrewheisscom/?url=ref">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a></div> -->
		</div>
	</div>
</div>